<launch>
    <arg name="server_feedback_freq" default="10.0" />
    <arg name="bh_loop_freq" default="5.0" />
    <arg name="bh_tree_file" default="$(find ai_robot_control)/config/main_tree.xml" />

    <node pkg="ai_robot_control" type="tracking_server" name="tracking_server" output="screen" respawn="true">
        <param name="control_freq" type="double" value="$(arg server_feedback_freq)" />
    </node>

    <node pkg="ai_robot_control" type="bh_tree_node" name="bh_tree" output="screen">
        <param name="bh_loop_freq" type="double" value="$(arg bh_loop_freq)" />
        <param name="file_path" type="string" value="$(arg bh_tree_file)"/>
    </node>
</launch>